.bannerr
{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}
.bannerr img
{
    width: 100%;
    height: 100%;
}
@media  screen and  (max-width: 425px) {
    .bannerr
    {
        height: 35vh;
    }
    .bannerr img
    {
        height: 100%;
    }
    
}